$primary: #006ad0;
$primary-hover: lighten(desaturate($primary, 10%), 5%);
$primary-alt: #397dfb;
$secondary: lighten(desaturate($primary, 100%), 50%);
$secondary-alt-hover: rgba(0, 0, 0, 0.05);

$dark: #3b4351; // používá se pro text
$dark-alt: hsl(214, 10%, 52%); // používá se pro text

$toolbars: #f7f8f9;
$toolbars-active: hsl(220, 6%, 89%);
$inputs: #bcc3ce;
$toolbars-lighter: #fdfdfd;

// žlutá, používá se pro znázornění řádků po najetí či zvýraznění
$row-hover: hsl(54, 100%, 50%, 0.09);

$table-border: hsl(210, 14%, 92%);

$orange-500: #ffca28;

$notMystat: #d32f2f;

$red-500: #f44336;
$red-hover: lighten($red-500, 10%);
