$primary: #006ad0;
$primary-hover: lighten(desaturate($primary, 10%), 5%);
$secondary: lighten(desaturate($primary, 100%), 50%);
$secondary-alt-hover: rgba(0, 0, 0, 0.05);

$dark: #3b4351; // používá se pro text

$toolbars: #edece8;
$inputs: #bcc3ce;

$yellow-hover: #fff9c4;

$orange-500: #ffca28;

$notMystat: #d32f2f;

$red-500: #f44336;
$red-hover: lighten($red-500, 10%);
