@use "abstracts/color";

html body.main .cssload-thecube {
  .cssload-cube {
    display: none;
  }

  &:after {
    animation: loading 0.5s infinite linear;
    background: 0 0;
    border: 0.1rem solid color.$primary;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 0.8rem;
    left: 50%;
    margin-left: -0.4rem;
    margin-top: -0.4rem;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 0.8rem;
    z-index: 1;

    // large
    height: 1.6rem;
    margin-left: -0.8rem;
    margin-top: -0.8rem;
    width: 1.6rem;
  }
}
