@use "abstracts/color";

html .mat-body[style] {
  .sidenav-new {
    background-color: color.$toolbars;
    border-right: none;
  }

  .ng-star-inserted .sidenav-new .sidenav-new__content {
    width: 48px;
    padding: 10px 0px;

    .mat-icon {
      margin-left: 5px;
      margin-right: 11px;
    }
  }

  .mat-expansion-panel {
    background-color: color.$toolbars;
  }

  .mat-accordion.mat-accordion_sidenav-new
    .mat-expansion-panel.is-active
    .mat-expansion-panel-header {
    background-color: rgb(0, 106, 208, 0.1);
    border-radius: 0px;
    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0px;
      border: none;
      width: 2px;
      height: 100%;
      background-color: color.$primary;
      z-index: 1;
    }

    .mat-icon {
      color: color.$primary;
    }

    a:has([aria-describedby*="cdk-describedby-message-"]) {
      &:after {
        color: color.$primary;
        text-shadow: 1px 1px 2px #deeaf5, -1px 1px 2px #deeaf5,
          -1px -1px 0 #deeaf5, 1px -1px 0 #deeaf5;
      }
    }
  }

  // ikona rozvrh hodin
  a:has([aria-describedby*="cdk-describedby-message-"]) {
    &:after {
      font-size: 0.6rem;
      font-weight: 600;
      color: color.$dark;
      position: absolute;
      bottom: 0.2rem;
      left: 0.3rem;
      // transform: translateX(-50%);
      text-shadow: 1px 1px 2px color.$toolbars, -1px 1px 2px color.$toolbars,
        -1px -1px 0 color.$toolbars, 1px -1px 0 color.$toolbars;

      opacity: 0.7;
    }
  }

  #mat-expansion-panel-header-1 a:has(mat-icon) {
    &:after {
      content: "R";
    }
  }

  // ikona účast
  #mat-expansion-panel-header-2 a:has(mat-icon) {
    &:after {
      content: "Ú";
    }
  }

  // ikona DÚ
  #mat-expansion-panel-header-4 a:has(mat-icon) {
    &:after {
      content: "D";
    }
  }

  #mat-expansion-panel-header-6 a:has(mat-icon) {
    &:after {
      content: "M";
    }
  }
}

mat-accordion {
  display: flex;
  flex-direction: column;
}

mat-expansion-panel:has(#mat-expansion-panel-header-0),
mat-expansion-panel:has(#mat-expansion-panel-header-3),
mat-expansion-panel:has(#mat-expansion-panel-header-5),
mat-expansion-panel:has(#mat-expansion-panel-header-7),
mat-expansion-panel:has(#mat-expansion-panel-header-8),
mat-expansion-panel:has(#mat-expansion-panel-header-9) {
  order: 1;
  .mat-icon {
    color: rgb(24, 24, 27, 0.3);
  }
}

mat-expansion-panel:has(#mat-expansion-panel-header-0):before {
  content: " ";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 1rem;
  // padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgb(24, 24, 27, 0.5);
}
