@use "abstracts/color";

mat-accordion {
  display: flex;
  flex-direction: column;
}

mat-expansion-panel:has(#mat-expansion-panel-header-0),
mat-expansion-panel:has(#mat-expansion-panel-header-3),
mat-expansion-panel:has(#mat-expansion-panel-header-5),
mat-expansion-panel:has(#mat-expansion-panel-header-7),
mat-expansion-panel:has(#mat-expansion-panel-header-8),
mat-expansion-panel:has(#mat-expansion-panel-header-9) {
  order: 1;
  .mat-icon {
    color: rgb(24, 24, 27, 0.3);
  }
}

mat-expansion-panel:has(#mat-expansion-panel-header-0):before {
  content: " ";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 1rem;
  // padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgb(24, 24, 27, 0.5);
}
