@use "abstracts/color";

$toolbar-height: 3rem;

// restyle toolbar
html body.main main.content toolbar {
  left: 3rem;
  padding-left: 0;
  height: $toolbar-height;
  background-color: color.$toolbars;
  width: calc(100% - $toolbar-height);

  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  align-items: center;
  justify-content: flex-end;

  .changeUser {
    margin-right: 1rem;
  }

  .changeUser button {
    // display: block;
    border: 0.05rem solid color.$inputs;
    color: color.$dark !important;
    font-size: 0.8rem;
    height: 1.8rem;
    // width: 100%;
    width: fit-content;
    display: inline-block;
    min-width: 16ch;
    line-height: 1.2rem;
    max-width: auto;
    outline: 0;
    padding: 0.25rem 0.4rem;
    transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;

    background: #fff
      url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E")
      no-repeat right 0.35rem center/.4rem 0.5rem;
    padding-right: 1.2rem;

    &:after {
      display: none;
    }
  }

  .material-icons {
    width: 1.5rem;
    height: 1.5rem;
  }

  md-menu,
  .pull-right {
    line-height: $toolbar-height;
  }

  .pull-right {
    align-self: flex-end;
    color: color.$dark !important;
    display: flex;
    gap: 1rem;
    margin-right: 1rem;

    opacity: 0;
    transition: opacity 0.2s;
    animation: fadeIn 0.2s linear 1s forwards;
  }

  .pull-right > span {
    min-width: auto;
    padding-right: 0;

    i {
      color: color.$dark !important;
      font-size: 1.5rem;

      &.count {
        font-weight: 700;
        font-size: 0.8rem;
        background-color: color.$orange-500;
      }
    }
  }

  // icons with help
  > div:nth-child(3) {
    order: 2;

    transition: opacity 0.2s;
    span {
      opacity: 0.3;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }

  // icons with news, rating, settings, logout
  > div:nth-child(2) {
    order: 3;

    // style logout
    > span:last-child {
      position: relative;
      padding-left: 0.5rem;

      a {
        margin-left: 1rem;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: $toolbar-height;
        top: 0;
        border-left: 1px solid darken(color.$toolbars, 10%);
      }
    }
  }

  // latest news + notification number
  span.latest_news {
    display: none; // hide for now

    span span {
      position: relative;

      .count {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 0;
        padding: 0;
        text-align: center;
        line-height: 1.6rem;
      }
    }
  }

  // evaluation star
  .evaluation_star {
    position: relative;
    top: 0.5rem;
    right: 0;
    filter: invert(100%);
    opacity: 0.7;
    width: 1.5rem;
    height: 1.5rem;
  }
}
