@use "abstracts/color";
@use "abstracts/style";
@use "abstracts/include";

// :root {
//   --mat-standard-button-toggle-divider-color: black;
// }

html .mat-body[style] app-attendance {
  // change width for toggle-group
  mat-button-toggle-group {
    width: max-content;
  }

  // different colors for toolbar buttons
  .mat-button-toggle-group .mat-button-toggle {
    background-color: color.$toolbars;
    color: color.$dark !important;
  }

  .mat-button-toggle-group
    .mat-button-toggle:has(> button[aria-pressed="true"]) {
    background-color: rgba(0, 106, 208, 0.1) !important;
  }

  // 23 Září, Pondělí -> 23. září, pondělí
  h1 {
    text-transform: lowercase;
  }

  // zarovnání informací o specializaci
  .page-content > div:nth-child(1) {
    &.mt-3.mb-3.d-flex.align-items-center.justify-content-between {
      div:nth-child(1) {
        // make all text same + smaller
        span {
          font-size: 13px !important;
        }
      }
    }
  }

  // zarovnání informací o skupině a tématu lekce
  .page-content > div:nth-child(2) {
    &.mt-3.mb-3.d-flex.align-items-center.justify-content-between {
      div:nth-child(1) {
        display: inline-flex !important;
        align-items: center;
        font-size: 13px;

        // make all text same + smaller
        span {
          font-size: 13px !important;
        }

        // select "Téma lekce"
        .d-flex.align-items-center {
          // order: -1;
          margin-left: 2rem;
        }
      }
    }
  }

  // sloupec s číslem studenta
  .mat-column-index {
    width: 5ch;
  }

  // sloupec s jménem studenta
  .mat-column-fio_stud {
    width: 40ch;

    a {
      text-decoration: none;
    }
  }

  // sloupec s diamanty
  // [svgicon="diamond"] = nejlepší target na diamant
  //.prize má barvu = vybraný diamant
  .mat-column-prize {
    [svgicon="diamond"] {
      // nezadaný diamant
      opacity: 0;
    }
    .prize [svgicon="diamond"] {
      // zadaný diamant
      opacity: 1;
    }

    // v hlavičce se zobrazí diamant
    &:is(th) {
      [svgicon="diamond"] {
        opacity: 1;
      }
    }
  }

  .mat-mdc-table.mat-mdc-table .mdc-data-table__cell {
    border-color: color.$table-border;
  }

  // změna u "byl v mystatu"
  .mat-column-last_date_vizit {
    color: color.$dark-alt;
  }

  // změna barvy textu selectu
  .mat-mdc-select-min-line {
    color: color.$dark;
  }

  // nezobrazovat select, jen po najetí
  .mat-mdc-row:not(:hover) {
    .mat-mdc-form-field .mdc-text-field--outlined.mdc-text-field--outlined {
      .mdc-notched-outline__leading {
        border-color: transparent;
      }
      .mdc-notched-outline__trailing {
        border-color: transparent;
      }
    }

    .mat-mdc-select-arrow {
      opacity: 0;
    }

    .radio-group .mat-mdc-radio-button .mdc-radio__outer-circle {
      border-color: transparent !important;
    }

    .mdc-checkbox
      .mdc-checkbox__native-control:enabled:not(:checked):not(
        :indeterminate
      ):not([data-indeterminate="true"])
      ~ .mdc-checkbox__background {
      border-color: transparent;
    }
  }

  // tabulka přehledu studentů - změna barvy po najetí
  .mat-mdc-row {
    transition: background-color 0.225s ease;

    &:hover {
      background-color: color.$row-hover;

      // změna barvy diamantu po najetí
      .mat-column-prize {
        [svgicon="diamond"] {
          // nezadaný diamant
          opacity: 1;
        }
      }

      .mat-column-prize {
        color: color.$dark-alt;
        --mdc-icon-button-icon-color: color.$dark-alt;
      }

      .prize {
        color: color.$primary-alt;
      }

      .hover-prize,
      .hover-prize .prize {
        color: color.$orange-500 !important;
        --mdc-icon-button-icon-color: color.$orange-500 !important;
      }
    }
  }

  // has to be here cuz the page has just idiotic specifity
  .mat-mdc-table.mat-mdc-table .mdc-data-table__cell .mdc-icon-button:hover {
    color: color.$orange-500;
  }

  // změna textů přes CSS
  // Online přítomnost -> Online
  th.mat-column-was_type {
    span {
      @include include.replace-text("Online", 5ch);
    }
  }

  // vyřeší zaokrouhlení nezvolených tlačítek
  .mat-button-toggle-group-appearance-standard
    .mat-button-toggle-appearance-standard
    + .mat-button-toggle-appearance-standard {
    // reset original
    border-left: none;

    &:before {
      // left border gray
      content: "";
      display: block;
      width: 1px;
      height: calc(100% - 10px);

      position: absolute;
      left: -4px;
      top: 5px;
      bottom: 5px;

      background-color: color.$table-border;
    }
  }

  // max diamantů
  .fs-6 {
    font-size: 13px !important;
  }

  .mat-mdc-radio-button.mat-mdc-radio-button .mdc-form-field > label {
    cursor: pointer;
  }

  // avatar zooming

  .mat-column-fio_stud {
    overflow: visible;
  }
  .mat-column-fio_stud div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .avatar {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .avatar__preview {
    position: absolute;
    right: -10px;
    z-index: 1;

    &[src="/assets/icons/manager.svg"]:hover {
      width: auto;
      height: auto;
    }

    &:not([src="/assets/icons/manager.svg"]):hover {
      width: 5rem;
      height: 5rem;
    }
  }
}

// own functionality
.print-students-button {
  float: right;
  text-decoration: none;

  border: none;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
  height: 36px;
  width: 36px;
  border-radius: style.$border-radius;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
    background-color: color.$secondary-alt-hover;
  }
}

#set-all-to-12-button {
  &:hover {
    background-color: color.$secondary-alt-hover;
  }
}

.hide-unnecessary-mark-row {
  display: none !important;
}
