@use "abstracts/color";
@use "abstracts/style";

// groupsPage
html .tasks.groups {
  & > .inputs {
    position: sticky;
    // top: 0;
    top: 3rem;
    z-index: 99;
    background-color: #fff;
    margin-bottom: 1rem;

    md-select {
      max-width: max-content;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      margin-right: 1rem;

      &[aria-label="Vyberte skupinu"]:not(:first-child) {
        opacity: 0.4;
        pointer-events: none;
        user-select: none;
      }
    }
  }

  .visits_wrap {
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: style.$border-radius;
    min-width: auto;

    .marks {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 80%;
    }
  }

  .presents .was {
    font-size: inherit;
    height: auto !important;
    line-height: inherit !important;
    border-color: transparent;
  }

  .student-name {
    min-width: auto;
  }

  table.groups-table .lenta_data {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: style.$border-radius;
    background-color: color.$yellow-hover;
    border-color: color.$yellow-hover;
    font-size: 1rem;
    color: color.$dark;
    line-height: 1.25;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    span {
      font-size: 1rem;
      display: inline;
      white-space: pre-wrap;
    }

    .subject {
      order: 2;
    }
    .theme {
      order: 1;
    }
  }

  // reset
  table.groups-table tr > th:last-child .lenta_data {
    left: 0;
  }
}
