body .login {
  .title_block > h3:after {
    content: " — redesigned";
  }

  background: #edece8;
  // background: #fafafa;

  // nadpis
  .title_block .title,
  .login_form h3,
  .login_form h4,
  .title_block h3,
  .title_block h4 {
    color: #333;
  }

  // inputy
  .login_form .login_inputs input {
    background: #fff;
    border: 1px solid #bcc3ce;
    color: rgb(59, 67, 81);
    border-radius: 4px;
  }

  // tlačítko
  .pass_buttons .btn-login {
    background: rgb(0, 106, 208) !important;
    border-radius: 4px;
    font-size: 16px;
    text-transform: unset;
  }

  .title_block [ng-controller="BaseController"] {
    &::before {
      content: "Vyberte jazyk: ";
      width: 100%;
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  .title_block [ng-controller="BaseController"] > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    max-height: 140px;
    overflow-y: scroll;

    &::before {
      content: "Další jazyky: ";
      width: 100%;
      flex-basis: 100%;
      margin-top: 1rem;
    }

    li.lang-item:nth-child(2),
    li.lang-item:nth-child(9),
    li.lang-item:nth-child(10) {
      order: -1;

      a.btn-lang {
        font-size: 16px;
      }
    }

    li.lang-item {
    }

    li.lang-item a.btn-lang {
      background: none;
      border-radius: 4px;
      border: none;
      padding: 0.5rem 1rem;
      width: auto;
      min-width: 3ch;
      height: auto;
      color: rgb(0, 106, 208);
      font-size: 12px;
      text-decoration: none;
      line-height: normal;
      margin: 0;
      transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;

      &.active {
        background: rgb(0, 106, 208);
        color: #fff;
      }

      &:hover {
        // background: rgb(0, 106, 208);
        background-color: rgba(0, 106, 208, 0.6);
        color: #fff;
      }
    }
  }

  // // select english
  // .title_block ul li.lang-item:nth-child(2) a.btn-lang {
  //   background: red;
  // }

  // // select czech
  // .title_block ul li.lang-item:nth-child(9) a.btn-lang {
  //   background: red;
  // }

  // // select slovak
  // .title_block ul li.lang-item:nth-child(10) a.btn-lang {
  //   background: red;
  // }
}
