@use "abstracts/color";
@use "abstracts/style";

// materials
html .binding_materials {
  .tabs-global.tabs {
    margin-bottom: 1rem;
  }

  .teach_mat_form > .no_margin {
    flex-basis: fit-content;
    max-width: fit-content;
  }

  .teach_mat_form .flex-30 {
    order: -1;
    margin-right: 2rem !important;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      // top: 0;
      // right: 0;
      right: 0;
      margin-right: -1rem;
      top: 2px;
      width: 1px;
      height: 2rem;
      // border-left: 1px solid rgb(188, 188, 188);
      border-left: 1px solid color.$toolbars;
      display: block;
    }
  }

  .binding-materials-table {
    .number {
      font-size: 1rem;
      line-height: 1.6;
    }

    .cutted_wrap {
      border: 1px solid color.$primary;
      background-color: color.$primary;
      width: auto;
      padding: 0.4rem 1.2rem;
      height: auto !important;
      line-height: normal !important;
      display: inline-flex;

      span {
        font-size: 1rem;
        line-height: 1;
        overflow: visible;
      }

      &:hover {
        background-color: color.$primary-hover;
      }
    }

    // only for teachers
    .cutted_wrap.only-teach {
      border: 1px solid color.$primary;
      background-color: transparent;
      color: color.$primary;

      &:hover {
        background-color: color.$primary-hover;
        color: #fff;
      }
    }

    pre {
      color: color.$dark !important;
      background-color: transparent;
      font-size: 1rem;
      line-height: 1.6;
      font-weight: 500;
    }
  }

  .bind-mat-table thead .material-th {
    display: block;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .edit_icon {
    opacity: 0;
  }

  .bind-mat-table tbody tr:hover {
    .edit_icon {
      opacity: 1;
    }
    .binding-materials-table pre {
      background-color: #fff;
    }
  }

  #realScroll {
    padding-top: 0;
  }

  // TODO: no clue what this is for
  // it always shows empty, no reference in js, probably forgotten
  .internal_menu {
    display: none;
  }
}
