@use "abstracts/color";
@use "abstracts/style";

// TODO: colors to abstracts

html main.content .report {
  .tabs-global.tabs {
    position: relative !important;
    top: 0 !important;
  }
  #report .table {
    min-width: auto;
    width: max-content;
    display: table;
  }

  #report .schedule .table {
    min-width: auto;
    width: max-content !important;
    display: table;

    thead {
      position: sticky;
      z-index: 100;
      top: 3rem;

      &:after {
        display: block;
        content: "";
        width: 100vw;
        height: 1px;
        position: absolute;
        left: -3rem;
        bottom: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      }
    }

    .sumReport-tr td,
    .sumReport-th td {
      height: auto;
    }
  }

  #report .table-wrapper.schedule tr > :first-child {
    padding-top: 0 !important;
    padding: 0 !important;
  }

  .table > tbody > tr > td {
    border-top: none;
  }

  .lab_work-table thead tr,
  #report .table-wrapper.schedule thead tr {
    background-color: #fff;
  }

  // #report th:first-child .blue_bg {
  #report th .blue_bg {
    // background-color: rgba(color.$primary, 10%) !important;
    background-color: transparent !important;
    padding: 0;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: color.$dark !important;
    text-align: left;
    font-weight: normal;

    // height: 3rem;
    // vertical-align: middle;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #report .table-wrapper.schedule tbody tr {
    td div::before {
      background-color: transparent;
    }

    &:nth-child(even) {
      background-color: #f8f8f6;
    }
    &:nth-child(odd) {
      background-color: #fff;
    }

    &:hover {
      background-color: color.$yellow-hover;
    }

    .reportDay-inner {
      display: flex;
      justify-content: space-around;
      padding-right: 1rem;

      p {
        width: 50%;
        padding-left: 1rem;
      }

      p:first-child {
        white-space: nowrap;
      }
    }

    .not_empty {
      color: color.$dark !important;

      // div::before {
      //   left: 1px;
      //   right: 1px;
      //   background: rgba(0, 106, 208, 0.05);
      // }

      p.ng-binding:last-child {
        font-weight: 500;
      }
    }

    td div:not(.reportDay-inner) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    td .auditory {
      color: color.$dark !important;
    }

    td .subject {
      min-height: auto;
    }

    td .group {
      display: none;
    }
  }

  #groupsReport {
    .table {
      min-width: auto;
      width: max-content;

      thead {
        position: sticky;
        z-index: 100;
        top: 3rem;

        &:after {
          display: block;
          content: "";
          width: 100vw;
          height: 1px;
          position: absolute;
          left: -3rem;
          bottom: 0px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        }
      }
    }
  }

  #report .sub-tabs .tab a {
    color: color.$dark !important;
    text-transform: unset;

    &::first-letter {
      text-transform: uppercase;
    }

    &.active {
      color: color.$dark !important;
      text-transform: unset;

      &::first-letter {
        text-transform: uppercase;
      }

      &::before {
        background-color: color.$primary;
        border-color: color.$primary;
      }
    }
  }

  .form-report button {
    text-transform: initial;
  }

  .lab_work-table.hide-empty-cols {
    // tbody td:not(:has(div)) {
    //   // background-color: blue !important;
    //   display: none;
    // }
    .hidden-column {
      display: none;
      // background-color: blue !important;
    }
  }

  .hide-empty-cols-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;

    input[type="checkbox"] {
      margin: 0;
      accent-color: rgb(1, 135, 208);
      width: 1rem;
      height: 1rem;
    }
  }
}
