@use "abstracts/color";

html {
  main.content .schedule {
    // custom functionality from javascript
    .hide-empty-rows .hidden-row {
      display: none;
    }

    .hide-empty-rows #if-all-empty-row.hidden-row {
      display: table-row;
    }

    .hide-empty-rows-wrapper {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;

      input[type="checkbox"] {
        margin: 0;
        accent-color: rgb(1, 135, 208);
        width: 1rem;
        height: 1rem;
      }
    }

    // rest of the design
    padding: 3rem;
    margin: 0;

    tr {
      border-bottom: 2px solid #fff !important;
      transition: background-color 0.225s ease 0s;

      // last child in the tr -> no border
      &:last-child {
        border-bottom: none !important;
      }
    }

    tbody {
      tr {
        opacity: 0;

        &:not(.ng-animate) {
          animation: fadeIn 0.2s linear 0s forwards;
        }

        // hide when loading
        &.ng-animate {
          opacity: 0;
          animation: none;
        }
      }
      tr:hover {
        background-color: color.$yellow-hover;
      }
    }

    th {
      text-transform: initial;
      color: color.$dark;
      text-align: left;
      padding: 1rem;

      &::first-letter {
        text-transform: uppercase;
      }

      .blue_bg {
        background-color: transparent;
      }

      &.angle {
        text-align: center;
      }
    }

    td {
      // padding-top: 1rem;
      // padding-bottom: 1rem;
      padding: 1rem;
      background: transparent;
      height: fit-content !important;

      div {
        height: fit-content !important;
      }

      div:before {
        background: #edece817;
        background-color: rgba(color.$primary, 0.05);
        left: 1px;
        right: 1px;
      }
      .subject {
        min-height: auto;
        // min-height: 2rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: color.$primary !important;
      }

      span.pair {
        color: color.$dark;
      }

      p {
        text-align: left;
      }

      .subject,
      .group,
      .auditory,
      .time_start_end {
        &:empty {
          display: none;
        }
      }
    }

    .fixed_height div {
      display: none;
    }

    .schedule_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      .cur_date {
        text-transform: lowercase;
        &::before {
          text-transform: none;
          content: "Dnes je ";
        }
      }

      .page_picker {
        display: inline-flex;
        margin-top: 0 !important;
        clear: unset;
        height: auto;
        float: none;
        align-items: center;
        justify-content: flex-end;
      }

      .beetwen_nav {
        order: -1;
        top: 0;
        // "25. 12. 2023- 31. 12. 2023".length = 26
        width: 26ex;
        text-align: center;
      }

      .nav_week {
        display: inline-flex;
        width: auto;
        height: auto;
        margin-top: 0;
      }
    }
  }

  // TODO: find why it's not working?
  // .report #report .table-wrapper.schedule thead {
  //   position: sticky;
  //   top: 3rem;
  //   z-index: 2;
  // }
}

#download-ical {
  color: color.$primary;
  text-decoration: none;

  span {
    color: color.$dark;
  }

  &:hover {
    text-decoration: underline;
  }
}
