@use "abstracts/color";
@use "abstracts/style";

html {
  .students {
    padding: 1.5rem;

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      margin: 0;
      grid-gap: 1rem;
    }
    .card {
      width: 100%;
      float: none;
      padding: 0;
      border-radius: style.$border-radius;
      background-color: rgba(color.$toolbars, 0.15);

      .card-internal {
        border-color: transparent;
      }

      // student profile header
      .more_info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        row-gap: 1rem;
        margin-bottom: 0.5rem;

        .card-title {
          font-size: 1.25rem;
          line-height: 110%;
          font-weight: 700;
        }
        .card-image {
          padding: 0;
          float: none;
          img {
            height: 4rem;
            width: 4rem !important;
          }
        }
      }
      .stud_group {
        margin-bottom: 1rem;
      }
      .stats {
        margin: 0;
        margin-bottom: 0.5rem;
        display: flex;
        gap: 0.5rem;
        font-size: 1rem;

        span {
          float: none;
          width: fit-content;
          background: rgba(color.$toolbars, 0.35);
          padding: 0.5rem;
          border-radius: style.$border-radius;
          display: inline-flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
        }
        // span:nth-child(1) {
        //   background-color: #e3f2fd;
        // }
        // span:nth-child(2) {
        //   background-color: #fffde7;
        // }

        img {
          margin-right: 0.5rem;
          height: 1rem;
          filter: grayscale(1);
        }
      }
    }
    .card:nth-child(6n + 1) {
      clear: none;
    }
    .card-reveal {
      div {
        margin-bottom: 0.5rem;
      }
      .material-icons {
        display: none;
      }

      // hide age because student rarely use the real one
      .age {
        display: none;
      }

      // ad some explanation before
      .email:before {
        content: "E-mail: ";
      }
      .tel:before {
        content: "Telefon: ";
      }
      .stud-login:before {
        content: "Login: ";
      }
    }

    .card-info {
      p {
        display: inline-flex;
        flex-direction: row-reverse;
        gap: 1ex;

        background: rgba(color.$toolbars, 0.35);
        padding: 0.5rem;
        border-radius: style.$border-radius;

        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 0.5rem;
        color: color.$dark !important;
        font-size: 0.8rem;

        span {
          background: transparent !important;
          color: color.$dark !important;
          font-size: 1rem;
          font-weight: 700;
          width: auto;
          margin: 0;
          min-height: auto;
          padding: 0;
        }

        &.percent_vizit {
          span {
            &:after {
              content: "%";
              font-weight: 400;
            }
          }
        }
      }
    }

    .allGroup-select {
      padding-top: 1rem;
    }

    .reveal-content {
      p[ng-if="stud.last_date_vizit != null"].critical_deptor {
        color: color.$dark !important;

        span {
          &:after {
            content: "!";
            margin-left: 0.5rem;
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            border-radius: 100%;
            background-color: rgba(color.$toolbars, 0.35);
            color: color.$notMystat;
            text-align: center;
          }
        }
      }
    }
  }

  .reviewStudent-right .button-wrap .attention-info {
    font-size: 0.8rem;
    width: auto;
    height: auto;
    min-height: auto;
    border: none;
    color: color.$dark !important;
    padding: 0;
  }
}
