@use "abstracts/color";
@use "abstracts/style";

html body #dialog_students_traffic {
  width: clamp(240px, 50%, 600px);

  .oneMoreHomeWork {
    border-bottom: 1px solid color.$toolbars;
  }

  .texarea_stud {
    border: 1px solid color.$inputs;
    border-radius: style.$border-radius;
  }
}

html body.main main.content .presents .table.traffic-table {
  .comment {
    min-width: auto;
  }
}
